<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{% block metatitle %}{% endblock %}">
    <meta name="description"
        content="{% block metadescription %}{% endblock metadescription %} Watch hentai online free download HD on mobile phone tablet laptop desktop.  Stream online, regularly released uncensored, subbed, in 720p and 1080p!">
    <meta name="keywords" content="{% block metakeywords %}{% endblock metakeywords %}">
    <meta name="image" content="{% block metaimage %}{% endblock metaimage %}">
<!-- google site verification -->
    <meta name="google-site-verification" content="mkqPm5yDkXOxdwoMuMdrGcy-GMg186gkqg25JOEQXNg" />
<!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>   
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background: rgb(238,174,202);
background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,35,75,1) 100%);
background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,35,75,1) 100%);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,35,75,1) 100%);
font-family: system-ui;" >
    <header>
        <nav class="navbar navbar-expand-lg bg-black navbar-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Hanime Beast</a>

                <div class="d-flex"><button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/trending/month/0">Trending</a></li>
                            <li class="nav-item"><a href="/browse" class="nav-link">Browse</a></li>
                            <li class="nav-item"><a href="/api" class="nav-link">Api</a></li>
                          <li class="nav-item">  <a href="https://www.buymeacoffee.com/immodded" class="btn btn-warning">Donate</a></li>

                            <li class="nav-item"><a class="github-button m-2" href="https://github.com/hanimebeast/hanimeapi" data-size="large"
                                data-show-count="true" aria-label="Star hanimebeast/hanimeapi on GitHub">Star</a></li>
                        </ul>

                    </div>
                </div>

            </div>

        </nav>
    </header>
    <div class="container m-10">
<!-- ad -->

        <!--         main content  -->
        {% block content %}{% endblock %}

    </div>

    <script>
        // ip logger
       $(document).ready(function() {
            // Function to get the hit value
            function getlog() {
                // Get the IP address
                fetch('https://api.ipify.org?format=json')
                    .then(response => response.json())
                    .then(data => {
                        const ip = data.ip;
                        // Get the current route of the website
                        const route = window.location.pathname;
                        // Send the IP address and route to the server
                        fetch(`/log?r=${route}&ip=${ip}`)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error(`HTTP error! Status: ${response.status}`);
                                }
                                // Get the hit value
                                return response.json();
                            })
                            .catch(error => console.error(error));
                    })
                    .catch(error => console.error(error));
            }

            // Call getHitValue function on document load
            getlog();
        });

    </script>
</body>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- mbd -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>

</html>
