{% extends "base.html" %}
{% block metatitle %}{{ category }} | Hanime on HanimeAPI {% endblock metatitle %}
{% block metadescription %}{% for t in tags %}{% if t['text'] == category %}{{ t['description'] }}{% endif %}{% endfor %}{% endblock metadescription %}
{% block metakeywords %}{{ category }} , hentai, hentai api, hentai porn api, browse porn, browse, {% endblock metakeywords %}
{% block title %} {{category}} | HanimeBeast{% endblock %}
{% block content %}

<div class="container px-4 px-lg-5 mt-5">    
    <div class="navbar navbar-expand-lg">
        <style>
            .dropdown:hover .dropdown-menu {
              display: block;
            }
            </style>
            
            <script>
            $('.dropdown').hover(function () {
              $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
              $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
            </script>
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse : {{ category }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for t in tags %}
                <a class="dropdown-item" href="/browse/hentai-tags/{{t['text']}}/0">{{ t['text'] }}</a>
            {% endfor %}
            </div>
          </div>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for v in videos %}
        <div class="col mb-5 ">
            <div class="card h-100 bg-black text-white shadow-5-strong">
                <div class="badge bg-black text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i
                        class="fa-solid fa-eye"></i>{{ v['views'] }}</div>
                <img class="card-img-top" src={{ v['cover_url'] }} alt={{ v['name'] }} />
                <div class="card-body p-4 ">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{ v['name'] }}</h5>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-info" href="/video/{{ v['slug'] }}"><i
                                class="fa-solid fa-fire fa-xl"></i></a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <button onclick="history.back()" class="btn btn-white mx-2"><i class="fa-solid fa-backward"></i></button><a
            href="{{ next_page }}" class="btn btn-white mx-2"><i class="fa-solid fa-forward"></i></a>
    </div>

</div>

{% endblock %}
