{% extends "base.html" %}
{% block title %}HanimeBeast{% endblock %}
{% block content %}

<table class="table bg-white my-2 border-secondary">
<tr>
    <td class="col">
        /api/trending/{time}/{page}
    </td>
    <td class="col">
        for visiting trending page.  {page} = int and {time} = day/week/month/3_month/6_month/year
    </td>
</tr>
<tr>
    <td class="col">/api/video/{id}</td>
    <td class="col">for getting detailed video page</td>
</tr>
</table>

{% endblock %}