{% extends "base.html" %}
{% block metatitle %}Hanime Api{% endblock metatitle %}
{% block metadescription %}Enjoy your unlimited hentai & anime collection. We are the definitive source for the best curated 720p / 1080p HD hentai videos, viewable by mobile phone and tablet, for free.{% endblock metadescription %}
{% block metakeywords %}hentai, hentai api, hentai porn api{% endblock metakeywords %}
{% block metaimage %}{% endblock metaimage %}
{% block title %}HanimeBeast{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <video id="live" class="embed-responsive-item" autoplay controls>
                <source src="{{ link }}" type="video/mp4">
            </video>
        </div>
    </div>
</div>


{% endblock %}
