{% extends "base.html" %}
{% block metatitle %}{{ video['name'] }}{% endblock metatitle %}
{% block metadescription %}{{ video['description'] }}{% endblock metadescription %}
{% block metakeywords %}{% for t in video['tags'] %} {{ t['name'], }}{% endfor %} {% endblock metakeywords %}
{% block metaimage %}{{ video['cover_url'] }}{% endblock metaimage %}
{% block title %}{{ video['name'] }}| HanimeBeast{% endblock %}
{% block content %}



<div class="mx-auto bg-white text-black p-5">
    <h1 class="my-4">{{ video['name'] }}</h1>

    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src={{ video['cover_url'] }} alt="{{ video['name'] }}">
        </div>

        <div class="col-md-6">
            <div class="btn-group-horizontal" role="group" aria-label="horizontal button group">
                {% for t in video['tags'] %}
                <a href="{{ t['link'] }}" class="btn btn-outline-black btn-sm">{{ t['name'] }}</a>
                {% endfor %}
            </div>
            <p>
                <small class="text-muted"><i class="fa-solid fa-eye"></i> {{ video['views'] }}</small>
            </p>
            <p>{{ video['description']|safe }}</p>
            <h3 class="my-3">Downloads</h3>
            <div class="alert alert-danger">Use VLC MEDIA PLAYER for streaming video.</div>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                {% for v in video['streams'] %}
                <a href="https://gplinks.in/st?api=34e8dce41ebf28ed80792fb8e1b6c14c55322773&url={{ v['url'] }}" class="btn btn-outline-secondary btn-lg"><i class="fa-solid fa-play"></i> {{
                    v['height'] }} x {{ v['width'] }} - {{ v['size_mbs'] }}mbs</a>

                {% endfor %}
                <a href="https://www.buymeacoffee.com/immodded" class="btn btn-warning">Donate</a>

            </div>
            
        </div>

    </div>
</div>

<!-- ad -->
<script src="https://static.adxadserv.com/js/adb.js" type="text/javascript" data-adxad-place="64a2e17b61d6e206af4edf6a" async></script><div id="64a2e17b61d6e206af4edf6a" data-width="300" data-height="250" data-output="html"></div>








<div class="container px-4 px-lg-5 mt-5">
    <div class="navbar navbar-expand-lg">
        <button class="btn-success btn btn-sm m-3">Episodes</button>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for e in video['episodes'] %}
        <div class="col mb-5 ">
            <div class="card h-100 bg-black text-white shadow-5-strong">
                <div class="badge bg-black text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i
                        class="fa-solid fa-eye"></i>{{ e['views'] }}</div>
                <img class="card-img-top" src={{ e['cover_url'] }} alt={{ e['name'] }} />
                <div class="card-body p-4 ">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{ e['name'] }}</h5>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-info" href="/video/{{ e['slug'] }}"><i
                                class="fa-solid fa-fire fa-xl"></i></a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
