{% extends "base.html" %}
{% block metatitle %}{{ video['name'] }}{% endblock metatitle %}
{% block metadescription %}{{ video['description'] }}{% endblock metadescription %}
{% block metakeywords %}{% for t in video['tags'] %} {{ t['name'], }}{% endfor %} {% endblock metakeywords %}
{% block metaimage %}{{ video['cover_url'] }}{% endblock metaimage %}
{% block title %}{{ video['name'] }}| HanimeBeast{% endblock %}
{% block content %}

<style>
    .card {
        max-width: 100%;
        overflow: hidden;
    }

    .card-body {
        position: relative;
        padding: 0;
    }

    video {
        width: 100%;
        height: auto;
    }
</style>

<div class="mx-auto bg-white text-black p-5">
    <h1 class="my-4">{{ video['name'] }}</h1>

    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src={{ video['cover_url'] }} alt="{{ video['name'] }}">
        </div>

        <div class="col-md-6">
            <div class="btn-group-horizontal" role="group" aria-label="horizontal button group">
                {% for t in video['tags'] %}
                <a href="{{ t['link'] }}" class="btn btn-outline-black btn-sm">{{ t['name'] }}</a>
                {% endfor %}
            </div>
            <p>
                <small class="text-muted"><i class="fa-solid fa-eye"></i> {{ video['views'] }}</small>
            </p>
            <p>{{ video['description']|safe }}</p>
            <div class="container mt-5">
                <div class="card" id="video-container" style="display: none;">
                    <div class="card-body">
                        <video id="live" autoplay controls>
                            <source src="" type="video/mp4" id="video-source">
                        </video>
                    </div>
                        <div id="alertDiv" class="alert alert-warning">
    If the video is stuck, tap on the play button again and wait for 2-10 seconds for it to load.
                        </div>
                </div>
            </div>
            <h3 class="my-3">Stream</h3>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                {% for v in video['streams'] %}
                <button onclick="playVideo('{{ v['url'] }}')" class="btn btn-outline-secondary btn-lg"><i class="fa-solid fa-play"></i> {{ v['height'] }}</button>
                {% endfor %}
            </div>
                <a href="https://www.buymeacoffee.com/immodded" class="btn btn-warning">Donate</a>
                <a href="https://t.me/immodded" class="btn btn-success">Report</a>
        </div>

    </div>
</div>



<script>
    function playVideo(link) {
        var video = document.getElementById('live');
        var videoSource = document.getElementById('video-source');
        var videoContainer = document.getElementById('video-container');
        
        videoSource.setAttribute('src', link);
        video.load();
        video.play();
        videoContainer.style.display = 'block';
    }
</script>








<div class="container px-4 px-lg-5 mt-5">
    <div class="navbar navbar-expand-lg">
        <button class="btn-success btn btn-sm m-3">Episodes</button>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for e in video['episodes'] %}
        <div class="col mb-5 ">
            <div class="card h-100 bg-black text-white shadow-5-strong">
                <div class="badge bg-black text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i
                        class="fa-solid fa-eye"></i>{{ e['views'] }}</div>
                <img class="card-img-top" src={{ e['cover_url'] }} alt={{ e['name'] }} />
                <div class="card-body p-4 ">
                    <div class="text-center">
                        <h5 class="fw-bolder">{{ e['name'] }}</h5>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-info" href="/video/{{ e['slug'] }}"><i
                                class="fa-solid fa-fire fa-xl"></i></a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
