{% extends "base.html" %}
{% block metatitle %}Hanime Api{% endblock metatitle %}
{% block metadescription %}Enjoy your unlimited hentai & anime collection. We are the definitive source for the best curated 720p / 1080p HD hentai videos, viewable by mobile phone and tablet, for free.{% endblock metadescription %}
{% block metakeywords %}hentai, hentai api, hentai porn api{% endblock metakeywords %}
{% block title %}HanimeBeast{% endblock %}
{% block content %}


    
    <ul id="watchedList">
        <!-- This element will hold the list of watched items -->
    </ul>

    <script>
        // Retrieve watched items from the cookie and split them into an array
        const watchedItems = getWatchedItemsFromCookie();

        // Get the <ul> element to display the list
        const watchedListElement = document.getElementById('watchedList');

        // Populate the list element with the watched items
        watchedItems.forEach(item => {
            const li = document.createElement('li');
            li.textContent = item;
            watchedListElement.appendChild(li);
        });
    </script>







{% endblock %}
