{% extends "base.html" %}
{% block metatitle %}Hanime Api{% endblock metatitle %}
{% block metadescription %}Enjoy your unlimited hentai & anime collection. We are the definitive source for the best curated 720p / 1080p HD hentai videos, viewable by mobile phone and tablet, for free.{% endblock metadescription %}
{% block metakeywords %}hentai, hentai api, hentai porn api{% endblock metakeywords %}
{% block title %}HanimeBeast{% endblock %}
{% block content %}
        <div id="watchedUrls" class="container mt-5">
        <h2>Watched URLs</h2>
        <ul id="watchedUrlsList"></ul>
        <p id="noWatchedMsg" class="text-muted mt-3">No watched URLs found.</p>
    </div>

    <script>
        const watchedItems = getWatchedItemsFromCookie();
        const watchedUrlsList = document.getElementById('watchedUrlsList');
        const noWatchedMsg = document.getElementById('noWatchedMsg');

        function getWatchedItemsFromCookie() {
            const cookies = document.cookie.split(';');
            for (const cookie of cookies) {
                const [name, value] = cookie.trim().split('=');
                if (name === 'watchedItems') {
                    return value.split(',');
                }
            }
            return [];
        }

        function displayWatchedUrls() {
            if (watchedItems.length === 0) {
                noWatchedMsg.style.display = 'block';
            } else {
                noWatchedMsg.style.display = 'none';
                for (const url of watchedItems) {
                    const listItem = document.createElement('li');
                    listItem.textContent = url;
                    watchedUrlsList.appendChild(listItem);
                }
            }
        }

        // Display watched URLs when the page loads
        displayWatchedUrls();
    </script>



{% endblock %}
